## Enable DHT support for trackerless torrents or when all trackers are down.
## May be set to `disable` (completely disable DHT), `off` (do not start DHT), `auto` (start and stop DHT as needed), or `on` (start DHT immediately).
## The default is `off`. For DHT to work, a session directory must be defined.
dht.mode.set = auto

## Default session directory. Make sure you don t run multiple instance of rtorrent using the same session directory.
method.insert = cfg.dht_session, private|const|string, (cat,(cfg.basedir), ".dht_session/")
execute.throw = sh, -c, (cat, "mkdir -p " , (cfg.dht_session))

## UDP port to use for DHT.
dht.port.set = 6881
#dht.add_node=dht.transmissionbt.com
#dht.add_node=router.utorrent.com
#dht.add_node=router.bittorrent.com
#dht.add_node=dht.vuze.com
protocol.pex.set = 1

######################################################################
## Tracker-less torrent and UDP tracker support
## (conservative settings for 'private' trackers, first comment the lines above.
## If you want 'public' settings, do not touch this file.)
#dht.mode.set = disable
# Disable peer exchange
#protocol.pex.set = 0
